/* header design  */
.header{
    text-align: center;
    height: 120px;
    background-color: rgb(202, 197, 189);
    margin-left: 60px;
    padding: 5px;
    margin-right: 60px;
}
/* header text  */
.heading-hire{
    color: rgba(0, 31, 77, 0.644);
    font-size: 25px;
    font-weight: bold;
    margin: 2px;
}
.heading-info{
    margin: 0;
    font-size: 18px;
}
.heading-budget{
    color: rgba(0, 31, 77, 0.644);
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}
.amount{
    font-size: 30px;
    color: rgba(3, 61, 148, 0.644);
}